* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right,#b7d0f062,#84d2d84f, #31405044);
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.loading-text {
	place-self: center;
	background: linear-gradient(90deg, #00f, #0ff, #00f) -100%/ 200%;
	-webkit-background-clip: text;
	        background-clip: text;
	color: transparent;
	font: 900 clamp(1em, 2vw, 2em) exo, sans-serif;
	animation: shimmer 2s linear infinite
}

@keyframes shimmer { to { background-position: 100% } }




.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30vh;
    gap: 40px;
    align-items: center;
}

.input_container {
  width: 410px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right,#b6d2f5,#6da7ee, #99c4f8);
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.form input {
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: #77A1D3;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}



.form button {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
.form button {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
         

.qr_code {
    width: 210px;
    height: 240px;
    background-color: #a5c3e7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    text-align: center;
    margin: 0 auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.281);
}

p {
    display: flex;
    justify-content: center;
}